<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iRODS browser</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}" charset="utf-8"></script> 
</head>
<body>
    <script>
        var currentPath = "";

        function message(msg) {
            $('#msg').html(msg).show().fadeOut(1500);
        }

        function setCurrentPath(path) {
            currentPath = path;
        }

        function copyPath(ele) {
            var tmp = $('<input>');
            $('body').append(tmp);
            tmp.val(ele ? ele.getAttribute('data-path') : currentPath).select();
            document.execCommand('copy');
            tmp.remove();
            message('Path copied.');
        }

        function usePath(ele) {
            if (ele) {
                let path = ele.getAttribute('data-path');
                window.open('/select?path='+path, '_self');
            }
            else {
                window.open('/select', '_self');
            }
        }

    </script>

    <table>
        <tr><td>Server:</td><td>{{ data.env.irods_host }}</td></tr>
        <tr><td>User:</td><td>{{ data.env.irods_user_name }}</td></tr>
        {% if data.last_error %}
        <tr><td>Error:</td><td class="error">{{ data.last_error }}</td></tr>
        {% else %}
        <tr><td>Home:</td><td>{{ data.env.irods_home }}</td></tr>
        {% endif %}
        <tr><td colspan="2"><span id="msg"></span></td></tr>
    </table>

    {% if data.root_parts|length > 0 %}
    <p class="breadcrumbs">
        {%- for part in data.root_parts -%}{%- if part[0]==data.root -%}<script>setCurrentPath('{{ part[0] }}');</script><span class="unlinked">{{ part[1] }}</span><span class="slash">/</span>{%- else -%}<a href="/?path={{ part[0]|urlencode }}">{{ part[1] }}</a><span class="slash">/</span>{% endif %}{% endfor %}
        <!-- <input type="button" value="copy" onclick="copyPath()" /> -->
        <span title="Copy path to clipboard" class="symbol copy" onclick="copyPath()">&#128203;</span>
        <span title="Select path and quit" data-path="{{ col }}" class="symbol use" onclick="usePath()">&#11157;</span>
    </p>
    {% endif %}

    <p class="collections">
        <ul>
        {% for col in data.collections %}
            <li class="collection-link">
                <span class="symbol">&#128193;</span>
                <span class="collection entry">
                    <a href="/?path={{ col | urlencode }}">{{ col }}</a>
                </span>
                <span title="Copy path to clipboard" data-path="{{ col }}" class="symbol copy" onclick="copyPath(this)">&#128203;</span>
                <span title="Select path and quit" data-path="{{ col }}" class="symbol use" onclick="usePath(this)">&#11157;</span>
            </li>
        {% endfor %}
        {% for obj in data.data_objects %}
            <li>
                <span class="symbol">&nbsp;</span>
                <span class="object entry">{{ obj }}</span>
                <span title="Copy path to clipboard" data-path="{{ obj }}" class="symbol copy" onclick="copyPath(this)">&#128203;</span>
                <span title="Select path and quit" data-path="{{ obj }}" class="symbol use" onclick="usePath(this)">&#11157;</span>
            </li>
        {% endfor %}
        {% if data.root_parts|length > 0 and (not data.collections and not data.data_objects) %}
            <li><span class="symbol">&nbsp;</span>(collection is empty)</li>
        {% endif %}
        </ul>
    </p>

    <input type="button" value="quit" onclick="window.open('/select?shutdown=1', '_self')"/>

    <hr />

    <table class="legend">
        <tr>
            <td><span class="symbol">&#128203;</span></td>
            <td>Copy path to clipboard and leave iRODS browser running.</td>
        </tr>
        <tr>
            <td><span class="symbol">&#11157;</span></td>
            <td>Write path to Galaxy and quit iRODS browser.</td>
        </tr>
        <tr>
            <td><span class="symbol">quit</span></td>
            <td>Quit iRODS browser without selecting a path.</td>
        </tr>
    </table>

</body>
</html>